.imgBanner {
  height: 200px;
  background: #aaa;
}
#banner{
  max-height: 400px;
}
.imagenes, .imagenes.top, .imagenes.center, .imagenes.bottom{
  width:100%;
  height:400px;
  object-fit: cover;
  object-position: top;
}
.imagenes.top{
  object-position: top;
}
.imagenes.center{
  object-position: center;
}
.imagenes.bottom{
  object-position: bottom;
}
#logoArgProg{
  background-color: rgb(82, 154, 220);
  border-radius: 5px 0 0 5px;
}
.fondoLogoArgProg{
  height:auto;
  padding-right: 5px;
  background-color: rgb(252, 254, 255);
  color:rgb(82, 154, 220);
  font-weight: 900!important;
  border-radius: 5px;
}
header{
  position: relative;
  overflow: hidden;
  margin-top: 50px;
}
.redes{
  display: block;
  -webkit-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: hsl(0, 0%, 90%);
  transition: background-color 300ms;
  border:hsl(0, 0%, 90%) 1px solid;
  border-radius: 50%;
}
a.nav-link{
  /*list-style-type: none;*/
  margin: 2px!important;
  padding: 0!important;
  display: block;
  /*width: 100%;
  height: 100%;*/
  /*background-color: hsl(0, 0%, 90%);*/
  /*transition: background-color 300ms;*/
  /*border-radius: 5px;*/
  /*border: 1px solid hsl(0, 0%, 90%);*/
  overflow: hidden;
}