<header class="container-fluid">
  <!-- Carousel -->
    <div id="banner" class="carousel slide carousel-fade mt-3" data-bs-ride="carousel">
      <!-- Indicators/dots -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#banner" data-bs-slide-to="0" aria-label="Imágen 1" class="active"></button>
        <button type="button" data-bs-target="#banner" data-bs-slide-to="1" aria-label="Imágen 2"></button>
        <button type="button" data-bs-target="#banner" data-bs-slide-to="2" aria-label="Imágen 3"></button>
        <button type="button" data-bs-target="#banner" data-bs-slide-to="3" aria-label="Imágen 4"></button>
        <button type="button" data-bs-target="#banner" data-bs-slide-to="4" aria-label="Imágen 5"></button>
        <button type="button" data-bs-target="#banner" data-bs-slide-to="5" aria-label="Imágen 6"></button>
        <button type="button" data-bs-target="#banner" data-bs-slide-to="6" aria-label="Imágen 7"></button>
        <button type="button" data-bs-target="#banner" data-bs-slide-to="7" aria-label="Imágen 8"></button>
        <button type="button" data-bs-target="#banner" data-bs-slide-to="8" aria-label="Imágen 9"></button>
        <button type="button" data-bs-target="#banner" data-bs-slide-to="9" aria-label="Imágen 10"></button>
        <button type="button" data-bs-target="#banner" data-bs-slide-to="10" aria-label="Imágen 11"></button>
      </div>
      <!-- The slideshow/carousel -->
      <div class="carousel-inner rounded-top">
        <div class="carousel-item active" data-bs-interval="8000">
          <img src="../../../assets/00.jpg" alt="Aurora austral" class="d-block rounded-top imagenes top" >
        </div>
        <div class="carousel-item" data-bs-interval="8000">
          <img src="../../../assets/01-1.jpg" alt="Antártida Argentina" class="d-block rounded-top imagenes bottom" >
        </div>
        <div class="carousel-item" data-bs-interval="8000">
          <img src="../../../assets/02-2.jpg" alt="Pingúinos en la Antártida Argentina" class="d-block rounded-top imagenes bottom" >
        </div>
        <div class="carousel-item" data-bs-interval="8000">
          <img src="../../../assets/03-3.jpg" alt="Paisaje antártico" class="d-block rounded-top imagenes top" >
        </div>
        <div class="carousel-item" data-bs-interval="8000">
          <img src="../../../assets/04-4.jpg" alt="Trineos en la Antártida Argentina" class="d-block rounded-top imagenes center" >
        </div>
        <div class="carousel-item" data-bs-interval="8000">
          <img src="../../../assets/05-5.jpg" alt="Argentinos festejando del día de la Antártida Argentina" class="d-block rounded-top imagenes center" >
        </div>
        <div class="carousel-item" data-bs-interval="8000">
          <img src="../../../assets/06-6.jpg" alt="Tempano en deshielo, Antártida Argentina" class="d-block rounded-top imagenes center" >
        </div>
        <div class="carousel-item" data-bs-interval="8000">
          <img src="../../../assets/07-7.jpg" alt="Base Esperanza, Antártida Argentina" class="d-block rounded-top imagenes bottom" >
        </div>
        <div class="carousel-item" data-bs-interval="8000">
          <img src="../../../assets/08-8.jpg" alt="Maniobras en botes en la Antártida Argentina" class="d-block rounded-top imagenes bottom" >
        </div>
        <div class="carousel-item" data-bs-interval="8000">
          <img src="../../../assets/09-9.jpg" alt="Aurora austral vista desde la Base Belgrano, Antártida Argentina" class="d-block rounded-top imagenes bottom" >
        </div>
      </div>
      <!-- Left and right controls/icons -->
      <button class="carousel-control-prev" type="button" data-bs-target="#banner" data-bs-slide="prev" aria-label="Atrás">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#banner" data-bs-slide="next" aria-label="Siguiente">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
    <!-- Fin Carousel -->
    <app-about></app-about>
  </header>
