<div class="row rounded-3">
  <div class="col-sm-4">
    <circle-progress
    [percent]="75"
    [radius]="60"
    [space]="-10"
    [toFixed]="0"
    [maxPercent]="1000"
    [outerStrokeGradient]="true"
    [outerStrokeWidth]="10"
    [outerStrokeColor]="'#4882c2'"
    [outerStrokeGradientStopColor]="'#53a9ff'"
    [innerStrokeColor]="'#e7e8ea'"
    [innerStrokeWidth]="10"
    [title]="'UI'"
    [imageHeight]="100"
    [imageWidth]="100"
    [animateTitle]="false"
    [animationDuration]="1000"
    [showUnits]="false"
    [showImage]="false"
    [showBackground]="false"
    [lazy]="true"
    ></circle-progress>
    <hr class="d-sm-none">
  </div>
  <div class="col-sm-8">
    <circle-progress
    [percent]="75"
    [radius]="50"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
  </div>
</div>
<!-- <div class="col-sm-4">
  <circle-progress
    [percent]="75"
    [radius]="60"
    [space]="-10"
    [toFixed]="0"
    [maxPercent]="1000"
    [outerStrokeGradient]="true"
    [outerStrokeWidth]="10"
    [outerStrokeColor]="'#4882c2'"
    [outerStrokeGradientStopColor]="'#53a9ff'"
    [innerStrokeColor]="'#e7e8ea'"
    [innerStrokeWidth]="10"
    [title]="'UI'"
    [imageHeight]="100"
    [imageWidth]="100"
    [animateTitle]="false"
    [animationDuration]="1000"
    [showUnits]="false"
    [showImage]="false"
    [showBackground]="false"
    [lazy]="true"
    ></circle-progress>
</div>
<div class="col-sm-8">
  <circle-progress
    [percent]="75"
    [radius]="50"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
</div> -->
