<!--Sección Educación-->
<section id="section-educacion" class="container-fluid mt-3">
  <div class="card cardPerfil container-fluid border rounded-3">
    <div class="row bg-primary text-white border-primary rounded-top ">
      <h4>Educación</h4>
    </div>
    <div class="row border border-primary rounded-bottom">
    <!--Último título obtenido o curso realizado-->
    <div class="row rounded-3">
      <div class="col-sm-4">
        <div class="imgBanner">Logo</div>
        <p>En esta sección debe ir el logo de la institución.</p>
        <a class="card-link mt-4" href="#">link a la web</a>
        <hr class="d-sm-none">
      </div>
      <div class="col-sm-8">
        <h4>Título universitario, o de formación profesional</h4>
        <h5>Título, descripción, Dic 7, 2020</h5>
        <p>Descripción de tu desempeño, etc.</p>
      </div>
    </div>
    <hr>
    <!--Educación Secundaria-->
    <div class="row rounded-3">
      <div class="col-sm-4">
        <div class="imgBanner">Logo</div>
        <p>En esta sección debe ir el logo de la institución.</p>
        <a class="card-link mt-4" href="#">link a la web</a>
        <hr class="d-sm-none">
      </div>
      <div class="col-sm-8">
        <h4>Nombre del colegio secundario</h4>
        <h5>Título, descripción, Dic 7, 2020</h5>
        <p>Descripción de tu desempeño, etc.</p>
      </div>
    </div>
    <hr>
    <!--Educación Primaria-->
    <div class="row rounded-3">
      <div class="col-sm-4">
        <div class="imgBanner">Logo</div>
        <p>En esta sección debe ir el logo de la institución.</p>
        <a class="card-link mt-4" href="#">link a la web</a>
        <hr class="d-sm-none">
      </div>
      <div class="col-sm-8">
        <h4>Nombre de la escuela primaria</h4>
        <h5>Título, descripción, Dic 7, 2020</h5>
        <p>Descripción de tu desempeño, etc.</p>
      </div>
    </div>
    <!--Cuarta experiencia-->
    </div>
  </div>
</section>
