<!--Sección Educación-->
<section id="section-educacion" class="container-fluid mt-3">
  <div class="card cardPerfil container-fluid border rounded-3">
    <div class="row bg-primary text-white border-primary rounded-top ">
      <h4>Educación</h4>
    </div>
    <div class="row border border-primary rounded-bottom">
    <!--Último título obtenido o curso realizado-->
    <app-edu-item></app-edu-item>
    <hr>
    <!--Educación Secundaria-->
    <app-edu-item></app-edu-item>
    <hr>
    <!--Educación Primaria-->
    <app-edu-item></app-edu-item>
    <!--Cuarta experiencia-->
    </div>
  </div>
</section>
