<!--Sección Experiencia-->
<section id="section-experiencia" class="container-fluid mt-3">
  <div class="card cardPerfil container-fluid border rounded-3">
    <div class="row bg-primary text-white border-primary rounded-top ">
      <h4>Experiencia</h4>
    </div>
    <div class="row border border-primary rounded-bottom">
      <!--Primera experiencia-->
      <app-exp-item></app-exp-item>
      <hr>
      <!--Segunda experiencia-->
      <app-exp-item></app-exp-item>
      <hr>
      <!--Tercera experiencia-->
      <app-exp-item></app-exp-item>
      <!--Cuarta experiencia-->
    </div>
  </div>
</section>
