<!--Sección Experiencia-->
<section id="section-experiencia" class="container-fluid mt-3">
  <div class="card cardPerfil container-fluid border rounded-3">
    <div class="row bg-primary text-white border-primary rounded-top ">
      <h4>Experiencia</h4>
    </div>
    <div class="row border border-primary rounded-bottom">
      <!--Primera experiencia-->
      <app-exp-item></app-exp-item>
      <hr>
      <!--Segunda experiencia-->
      <div class="row rounded-3">
        <div class="col-sm-4">
          <div class="imgBanner">Logo</div>
          <p>En esta sección debe ir el logo de la institución.</p>
          <a class="card-link mt-4" href="#">link a la web</a>
          <hr class="d-sm-none">
        </div>
        <div class="col-sm-8">
          <h4>Puesto de trabajo</h4>
          <h5>Title description, Dec 7, 2020</h5>
          <p>Descripción del trabajo en que te desempeñaste.</p>
        </div>
      </div>
      <hr>
      <!--Tercera experiencia-->
      <div class="row rounded-3">
        <div class="col-sm-4">
          <div class="imgBanner">Logo</div>
          <p>En esta sección debe ir el logo de la institución.</p>
          <a class="card-link mt-4" href="#">link a la web</a>
          <hr class="d-sm-none">
        </div>
        <div class="col-sm-8">
          <h4>Puesto de trabajo</h4>
          <h5>Title description, Dec 7, 2020</h5>
          <p>Descripción del trabajo en que te desempeñaste.</p>
        </div>
      </div>
      <!--Cuarta experiencia-->
    </div>
  </div>
</section>
